extends layout.pug

block title
	title БЭМ

block content
	h2 <a href="https://ru.bem.info/">БЭМ</a> (Блок, Элемент, Модификатор) — компонентный подход к веб-разработке.
	p В его основе лежит принцип разделения интерфейса на независимые блоки. Он позволяет легко и быстро разрабатывать интерфейсы любой сложности и повторно использовать существующий код, избегая «Copy-Paste».
