/*!-----------------------------------------------------------------
	.page - модуль отвечающий за разметку страницы
 -----------------------------------------------------------------*/
// прижатый футер к низу
// html, body
// 	height: 100%
// body
	// display: flex
	// min-height: 100vh
	// // исправление возможного бага с прижатым футером в мобильной версии
	// min-height: -webkit-fill-available
	// flex-direction: column
	// padding-bottom 0

// отступ в центре страницы и максимальная ширина
.page
	display: flex
	flex-direction: column
	min-height: 100vh
	// исправление возможного бага с прижатым футером в мобильной версии
	min-height -webkit-fill-available
	padding-bottom 0
	&__wrap
		padding 0 15px
		max-width: 960px
		margin: 0 auto
	&__content
		padding: 20px 0
		flex: 1
	// стрелка наверх
	&__top-scroll
		height 50px
		width 50px
		position fixed
		bottom 50px
		right 50px
		background #000
		color #fff
		text-align center
		line-height: 51px
		display flex
		justify-content center
		align-items center
		&:hover
			color #fff

