extends layout.pug

block content
	h1 Иконки

	h2 Модуль .icon - png icon
	div
		span.icon.icon-Char
		| .icon.icon-Char
	div
		span.icon.icon-Mail
		| .icon.icon-Mail
	div
		span.icon.icon-RU
		| .icon.icon-RU
	div
		span.icon.icon-US
		| .icon.icon-US

	h2 Модуль .icon-svg
	div
		div.icon-svg(style="fill:blue;")
			include ../../img/iconsvg/star-fill.svg
		div.icon-svg.icon-svg--theme-large(style="fill:green;")
			include ../../img/iconsvg/html.svg

	h2 Модуль CSS Arrows
	div
		p
			| .arrow.arrow--theme-right:
			i.arrow.arrow--theme-right
		p
			| .arrow.arrow--theme-left:
			i.arrow.arrow--theme-left
		p
			| .arrow.arrow--theme-up:
			i.arrow.arrow--theme-up
		p
			| arrow.arrow--theme-down:
			i.arrow.arrow--theme-down

	h2 Модуль прелоадер

	.loader
	.loader.loader--size-small
