extends layout.pug

block title
	title БЭМ

block content
	h1 БЭМ — это стиль организации кода!
	figure.b-img-left
		img(src="/img/logo1.svg", width="200", alt="")
		figcaption Методология БЭМ
	p <a href="https://ru.bem.info/">БЭМ</a> (Блок, Элемент, Модификатор) — компонентный подход к веб-разработке.
	p.b-clear В его основе лежит принцип разделения интерфейса на независимые блоки. Он позволяет легко и быстро разрабатывать интерфейсы любой сложности и повторно использовать существующий код, избегая «Copy-Paste».
	h3 БЭМ-сущности:
	ol
		li <strong>Блок</strong> — отвечает на вопрос: <i>"что это"</i>?
			ul
				li Вложенная структура.
				li Свободное перемещение.
				li Повторное использование.
		li <strong>Элемент</strong> — cоставная часть блока.
			ul
				li Не может использовать в отрыве от блока.
				li Нельзя создавать элементы элементов.
		li <strong>Модификатор</strong> — определяет состояние и поведение блока или элемента.
			ul
				li Количество не ограничено.
				li Могут изменяться в процессе работы блока.



