include ../_mixins.pug
include ../_modules.pug
include _variable.pug
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="/css/swiper-bundle.min.css")
		// build:css
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", type="text/css", href="/css/print.css", media="print")
		// endbuild
		block title
			title БЭМ

		block top-script

	body.page
		header.header#link-header
			.header__menu
				.page__wrap
					nav.menu
						.hamburger: .hamburger__line
						ul.menu__lists
							li.menu__item: a(href="/doc/").menu__link Что такое?
							li.menu__item: a(href="typography.html").menu__link Типографика
							li.menu__item: a(href="message.html").menu__link Сообщения
							li.menu__item: a(href="form.html").menu__link Формы
							li.menu__item: a(href="icon.html").menu__link Иконки
							li.menu__item: a(href="navigation.html").menu__link Навигация
							li.menu__item: a(href="image.html").menu__link Изображения
					//- span.hamburger
			.header__title
				.header__images.page__wrap
					img(src="/img/logo.svg", alt="Логотип БЭМ").header__img
					img(src="/img/logo2.svg", alt="Логотип БЭМ").header__img
					img(src="/img/logo3.svg", alt="Логотип БЭМ").header__img
			.header__breadcrumb
				.page__wrap
					+breadcrumb(breadcrumbs)

		.page__content
			.page__wrap
				block content

		footer.footer
			.footer__info.page__wrap
				ul.footer__socicons
					li: a(href='http://vk.com/').icon-svg
						include ../../img/iconsvg/logo-vk.svg
					li: a(href='https://github.com/justsimplycoder').icon-svg
						include ../../img/iconsvg/logo-github.svg
					li: a(href='https://web.telegram.org/').icon-svg
						include ../../img/iconsvg/logo-telegram.svg
					li: a(href='https://gmail.com').icon-svg
						include ../../img/iconsvg/logo-gmail.svg
					li: a(href='https://ya.ru/').icon-svg
						include ../../img/iconsvg/logo-yandex.svg
				address.footer__address
					b Twitter, Inc.<br>
					| Francisco, CA 94103<br>
					| 1355 Market Street, Suite 900<br>
					abbr(title="Phone") Тел: &nbsp;(123) 456-7890
				address.footer__email
					b Full Name<br>
					a(href="mailto:FullName@gmail.com") FullName@gmail.com


		a(href="#link-header").page__top-scroll
			i.arrow.arrow--theme-top-page

		block bottom-script
			script(src="/js/swiper-bundle.min.js")
			// build:js_bottom
			script(src="/js/script.js", type="module")
			// endbuild
