extends layout.pug

block content
	h1 Сообщения для сайта

	h3 Модуль jumbotron

	main.jumbotron
		h2.jumbotron__header Модуль .jumbotron
		p.jumbotron__text Необходим для демонстрации ключевого содержимого сайта
		a(href="/" class="jumbotron__link btn") Вернуться на главную

	h3 Модуль предупреждения

	.alert
		.alert__close
		| .alert default
	.alert.alert--theme-success
		.alert__close
		| .alert.alert--theme-success
	.alert.alert--theme-info
		.alert__close
		| .alert.alert--theme-info
	.alert.alert--theme-warning
		.alert__close
		| .alert.alert--theme-warning
	.alert.alert--theme-danger
		.alert__close
		| .alert.alert--theme-danger

	h3 Модуль выноска

	.callout
		h4.callout__title .callout default
		p.callout__text Случайный текст выноски.
	.callout.callout--theme-danger
		h4.callout__title .callout.callout--theme-danger
		p.callout__text Случайный текст выноски.
	.callout.callout--theme-success
		h4.callout__title .callout.callout--theme-success
		p.callout__text Случайный текст выноски.
	.callout.callout--theme-warning
		h4.callout__title .callout.callout--theme-warning
		p.callout__text Случайный текст выноски.
	.callout.callout--theme-info
		h4.callout__title .callout.callout--theme-info
		p.callout__text Случайный текст выноски.

	h3 Модуль тултип

	p Lorem <span id="my-info" data-tippy-content="Tooltip ipsum dolor" class="tooltip">ipsum dolor</span> sit amet, consectetur adipisicing elit. Facilis voluptate, facere autem nam! Quia tempore possimus fugiat maxime earum, nesciunt harum consectetur ea quisquam? Nisi reiciendis consequuntur <span class="tooltip" data-tippy-content="Tooltip facilis">facilis</span> ullam nihil quod recusandae voluptatum esse excepturi tenetur, cum aliquam, sequi eligendi eveniet est voluptatem sint rem fugiat modi quae, adipisci ducimus suscipit repudiandae.

	h3 Модуль прогресс

	.progress
		.progress__bar(style="width:0")
	br
	.progress
		.progress__bar(style="width:25%") 25%
	br
	.progress
		.progress__bar(style="width:50%")
	br
	.progress
		.progress__bar(style="width:100%")

